.Item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    width: 100%;
    gap: 0.75rem;
    background-color: #ddd;
    margin-top: 2%;
    height: 60px;
    border-radius: 8px;
}
.left{
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    gap: 5px;
    margin-left: 1%;
}
.checkBox{
    font-size: 1.5rem;
    line-height: 100px;
    font-weight: 500;
    
}
.des{
    font-size: 1.5rem;
    font-weight: 500;
}
.active{
    color: red;
    margin-right: 1%;
    background-color: transparent;
    border: none;
}
.inactive{
    display: none;
}

.taskcomplete{
    color: #443333;
    text-decoration: line-through;
    font-size: 1.25rem;
}