.containerForm{
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.task{
    width: 80%;
    padding: 0.625rem;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    border-style: none;
    font-size: 1.25rem;
     outline: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
input:hover{
    border-color: transparent;
}
.formbutton{
    background-color: blueviolet;
    color: #fff;
    padding: 10px 15px;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    

}